.App {
  text-align: center;
}
.Header {
  width: 100vw;
  height: 12vh;
  font-size: 30pt;
  background-color: lightseagreen;
}
.YourBox {
  width: 100vw;
  height: 38vh;
  background-color: lightpink;
}
.FindPlant {
  width: 100vw;
  height: 50vh;
  background-color: rgb(236, 140, 236);
}
