.App {
  width: 100vw;
  height: 100vh;
  background-color: lightyellow;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.findplant {
  background-color: lightskyblue;
  width: 100vw;
  height: 450vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.yourbox {
  border: 5px solid black;
  background-color: lightgreen;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
img {
  width: 100px;
  height: 100px;
}
.nursButt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
